.feature{
	text-align: center;
	@media #{$medium} {
		text-align: left;
		border-bottom: 1px solid $gray-lighter;
		padding-bottom: em(26);
		margin-bottom: em(26);
		&--third{
			margin-bottom: 0;
			border-bottom: 0;
			padding-bottom: 0;
		}
	}
	&--first,
	&--third{
		display: none;
		@media #{$medium} {
			display: block;
		}
	}
}

.feature__title{
	margin-top: 0;
		font-size: em(30);
		margin-bottom: $base-spacing-unit;
	@media screen and (min-width: $screen-extra-large) and (max-width: 1420px){
		font-size: em(20);
		margin-bottom: $half-spacing-unit;
	}
	@media screen and (min-width: 1420px) and (max-width: 1520px) {
		font-size: em(25);
		margin-bottom: $half-spacing-unit;
	}
}

.feature__list{
	list-style: none;
	margin-bottom: 0;
	font-size: em(20);
	font-weight: 300;
	padding-left: 0;
	@media #{$medium} {
		line-height: 2.7;
		font-size: em(16);
		font-weight: 400;
	}
	> li{
		@media screen and (min-width: $screen-extra-large) and (max-width: 1520px) {
			font-size: em(14);
		}
		@media #{$medium} {
			&:before{
				content: '●';
				font-size: em(12);
				margin-right: em(20);
				vertical-align: em(2);
				color: $color-brand;
			}
		}
		@media #{$medium-max} {
			margin-bottom: em($half-spacing-unit);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}