.live-demo{
	@extend %grid;
	@extend %grid--narrow;
	@extend %grid--middle;
	&__wrapper{
		@extend %grid__item;
		@extend %large--one-sixth;
		&--title{
			@extend %medium--one-whole;
		}
		&--button{
			@extend %medium--one-fifth;
			@extend %small--one-whole;
		}
		&--control{
			@extend %medium--one-fifth;
			@extend %small--one-half;
		}
	}
	&__input-wrapper{
		position: relative;
		&:before{
			content: '*';
			position: absolute;
			left: em(5);
			top: $input-height-base /3;
			color: $color-brand;
		}
		.form-control{
			padding-left: em(20);
		}
	}
	&__group{
		margin-bottom: $base-spacing-unit;
		@media #{$large} {
			margin-bottom: 0;
		}
	}
	&__title{
		margin-bottom: 0;
		color: white;
		font-size: em(20);
		font-weight: 300;
	}
}