.main-footer{
	@include rem(14);
	background-color: #90999e;
	padding: em($half-spacing-unit * 2, 14) 0;
	text-align: center;
  &,
  & a{
    color: white;
  }
	&__mobile-icons{
		display: none;
		@media #{$medium} {
			display: inline-block;
		}
	}
	@media #{$medium} {
		padding: em($base-spacing-unit) 0;
		//text-align: left;
	}
}

.footer-nav{
	@include rem(14);
	text-align: center;
	@media #{$large} {
		text-align: left;
		margin-bottom: 0;
	}
}

.social-nav{
	&__item{
		margin: 0 em(10);
		@media #{$medium} {
			margin-right: em(5);
			margin-left: 0;
			&:last-child{margin-right: 0;}
		}
	}
	&__icon{
		font-size: em(35);
		@media #{$medium} {
			font-size: inherit;
			width: em(15);
			display: inline-block;	
		}
	}
	&__text{
		@media #{$medium-max} {
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			padding: 0;
			overflow: hidden;
			clip: rect(0,0,0,0);
			border: 0 ;
		}
	}
}