.main-content{
	@media #{$medium} {
		display: flex;
		flex-direction: column;
		> :first-child{
			order: 2;
		}
		> :last-child{
			order: 1;
		}
	}
}

.container{
	margin-left: auto;
	margin-right: auto;
	padding-left: em($half-spacing-unit);
	padding-right: em($half-spacing-unit);
	&--large{
		max-width: em(1140);
	}
}